name: Waka Readme

on:
  schedule:
    # Runs at 12:15am IST
    - cron: "45 18 * * *"
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_OS: "False"
          SHOW_PROJECTS: "False"
          SHOW_LINES_OF_CODE: "True"
          SHOW_TOTAL_CODE_TIME: "True"
          SHOW_PROFILE_VIEWS: "False"
          SHOW_EDITORS: "True"
          SECTION_NAME: "waka"
          COMMIT_USERNAME: ${{ secrets.COMMITTER_NAME }}
          COMMIT_EMAIL: ${{ secrets.COMMITTER_EMAIL }}
